{% extends "base.html" %}

{% block title %}Reservations - {{ restaurant_name }}{% endblock %}

{% block content %}
    <h1>Reservations</h1>
        <p>Online reservation system coming soon!</p>
            <p>In the meantime, please call us at 
                    <span style="font-weight:bold; color:#6a040f;">{{ phone_number }}</span> 
                            to book your table.
                                </p>
                                {% endblock %}
                                